.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/vysot.utep.jpg")}
.u-section-1 .u-sheet-1 {min-height: 758px; margin-top: 0; margin-bottom: 0}
.u-section-1 .u-group-1 {width: 485px; min-height: 143px; height: auto; margin: 48px auto 0 0}
.u-section-1 .u-container-layout-1 {padding-left: 20px}
.u-section-1 .u-line-1 {width: 100px; height: 20px; transform-origin: left center 0; margin: 20px auto 0 0}
.u-section-1 .u-text-1 {font-weight: 500; font-size: 3.75rem; margin: 10px 74px 0 0}
.u-section-1 .u-text-2 {margin: 0 499px 0 20px}
.u-section-1 .u-text-3 {margin: 180px 20px 75px} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 0%}
.u-section-1 .u-group-1 {width: 435px; min-height: 407px}
.u-section-1 .u-container-layout-1 {padding-left: 16px}
.u-section-1 .u-line-1 {width: 82px; height: 3px; transform-origin: left center; margin-top: 40px}
.u-section-1 .u-text-1 {margin-top: 40px; margin-right: 16px}
.u-section-1 .u-text-2 {position: relative; margin-top: 303px; margin-left: 5px; margin-right: 5px}
.u-section-1 .u-text-3 {margin: -39px 16px 59px} }

@media (max-width: 991px){ .u-section-1 .u-group-1 {width: 425px; min-height: 216px}
.u-section-1 .u-container-layout-1 {padding-left: 0}
.u-section-1 .u-line-1 {width: 178px; height: 20px; transform-origin: left center 0; margin: 0 34px 20px auto}
.u-section-1 .u-text-1 {margin-top: 10px; margin-left: 10px; margin-right: 10px}
.u-section-1 .u-text-2 {width: auto; margin-top: 219px; margin-right: 26px; margin-left: 13px}
.u-section-1 .u-text-3 {margin-left: 13px; margin-right: 13px; margin-bottom: 275px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 518px}
.u-section-1 .u-group-1 {width: 419px; min-height: 164px; margin-top: 30px}
.u-section-1 .u-container-layout-1 {padding-left: 10px}
.u-section-1 .u-line-1 {width: 208px; margin: 10px auto 40px 0}
.u-section-1 .u-text-1 {width: auto; margin-top: 5px; margin-left: 0; margin-right: 0}
.u-section-1 .u-text-2 {width: 534px; margin-top: 240px; margin-left: 3px; margin-right: 3px}
.u-section-1 .u-text-3 {margin-left: 20px; margin-right: 20px; margin-bottom: 84px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 427px}
.u-section-1 .u-group-1 {min-height: 120px; margin-top: 6px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-1 {padding-left: 0}
.u-section-1 .u-line-1 {width: 59px; margin-top: 50px; margin-bottom: 0}
.u-section-1 .u-text-1 {font-size: 3rem; margin-top: -70px; margin-right: -30px; margin-bottom: 68px}
.u-section-1 .u-text-2 {width: auto; margin-top: 242px; margin-right: 20px; margin-left: -8px; position: relative}
.u-section-1 .u-text-3 {margin: -126px 6px 146px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 943px}
.u-section-2 .u-layout-wrap-1 {margin: -144px auto 25px 0}
.u-section-2 .u-layout-cell-1 {min-height: 766px; background-image: none}
.u-section-2 .u-container-layout-1 {padding-left: 20px}
.u-section-2 .u-text-1 {font-weight: 400; text-transform: uppercase; margin: 75px 20px 0 0}
.u-section-2 .u-text-2 {margin: 18px 134px 40px 0}
.u-section-2 .u-layout-cell-2 {min-height: 766px}
.u-section-2 .u-container-layout-2 {padding-left: 20px}
.u-section-2 .u-icon-1 {height: 50px; width: 50px; margin: 180px auto 0 0}
.u-section-2 .u-text-3 {font-weight: 400; text-transform: uppercase; margin: 20px 20px 0 0}
.u-section-2 .u-text-4 {margin: 20px 88px 0 0}
.u-section-2 .u-btn-1 {background-image: none; padding: 18px 116px 18px 114px; font-size: 2.25rem; margin: 25px auto 75px 3px}
.u-section-2 .u-image-1 {background-image: url("images/11401748.jpg"); min-height: 316px; background-position: 50% 50%}
.u-section-2 .u-layout-cell-4 {min-height: 316px; background-image: none}
.u-section-2 .u-container-layout-4 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-icon-2 {height: 50px; width: 50px; margin: 16px auto 0 0}
.u-section-2 .u-text-5 {text-transform: uppercase; font-weight: 400; margin: 20px 0 0}
.u-section-2 .u-text-6 {margin: 8px 0 16px}
.u-section-2 .u-image-2 {min-height: 316px; background-image: url("images/8fb775cf-3874-d9c5-b364-f751ff1a035f.jpg"); background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 972px}
.u-section-2 .u-layout-wrap-1 {margin-bottom: 30px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 732px}
.u-section-2 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-text-1 {margin-top: 30px; margin-right: 16px}
.u-section-2 .u-text-2 {position: relative; margin-right: 110px}
.u-section-2 .u-layout-cell-2 {min-height: 732px}
.u-section-2 .u-container-layout-2 {padding-left: 16px}
.u-section-2 .u-icon-1 {height: 41px; width: 41px; position: relative}
.u-section-2 .u-text-3 {position: relative; margin-right: 33px}
.u-section-2 .u-text-4 {margin-right: 89px}
.u-section-2 .u-btn-1 {padding: 10px 129px 10px 129px; font-size: 1rem; margin-top: 0; margin-bottom: 70px; margin-left: 0}
.u-section-2 .u-image-1 {min-height: 374px}
.u-section-2 .u-layout-cell-4 {min-height: 374px; background-position: 50% 50%}
.u-section-2 .u-container-layout-4 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-icon-2 {height: 41px; width: 41px; position: relative; margin-top: 35px}
.u-section-2 .u-text-5 {position: relative}
.u-section-2 .u-text-6 {margin-top: 20px; margin-bottom: 35px}
.u-section-2 .u-image-2 {min-height: 374px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1444px}
.u-section-2 .u-layout-cell-1 {min-height: 797px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-1 {margin-right: 10px}
.u-section-2 .u-text-2 {margin-right: 70px}
.u-section-2 .u-layout-cell-2 {min-height: 797px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 0}
.u-section-2 .u-icon-1 {height: 32px; width: 32px}
.u-section-2 .u-text-3 {margin-right: 23px}
.u-section-2 .u-text-4 {margin-right: 66px}
.u-section-2 .u-btn-1 {padding: 10px 104px 10px 103px; margin-top: 29px; margin-bottom: 23px; margin-left: -10px}
.u-section-2 .u-image-1 {min-height: 422px}
.u-section-2 .u-layout-cell-4 {min-height: 359px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-icon-2 {height: 32px; width: 32px}
.u-section-2 .u-image-2 {min-height: 359px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1812px}
.u-section-2 .u-layout-wrap-1 {margin-top: 20px; margin-bottom: 32px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 313px}
.u-section-2 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-2 .u-text-1 {margin-top: 13px; margin-right: 5px}
.u-section-2 .u-text-2 {margin-right: 33px; margin-bottom: 0}
.u-section-2 .u-layout-cell-2 {min-height: 437px}
.u-section-2 .u-container-layout-2 {padding-left: 5px}
.u-section-2 .u-icon-1 {height: 53px; width: 53px; margin-top: 20px}
.u-section-2 .u-text-3 {margin-top: -3px; margin-right: 15px}
.u-section-2 .u-text-4 {margin-right: 47px}
.u-section-2 .u-btn-1 {padding: 10px 184px 10px 182px; margin-top: 32px; margin-left: auto; margin-bottom: 45px}
.u-section-2 .u-image-1 {min-height: 344px}
.u-section-2 .u-layout-cell-4 {min-height: 342px}
.u-section-2 .u-container-layout-4 {padding-left: 5px; padding-right: 5px}
.u-section-2 .u-icon-2 {height: 30px; width: 30px; margin-top: 19px}
.u-section-2 .u-image-2 {min-height: 343px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 2010px}
.u-section-2 .u-layout-wrap-1 {margin-top: 32px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 385px}
.u-section-2 .u-container-layout-1 {padding-left: 18px; padding-right: 0}
.u-section-2 .u-text-1 {width: auto; margin-top: 14px; margin-right: 45px}
.u-section-2 .u-text-2 {margin-top: 14px; margin-right: 18px; margin-bottom: 4px}
.u-section-2 .u-layout-cell-2 {min-height: 536px}
.u-section-2 .u-container-layout-2 {padding-left: 0}
.u-section-2 .u-icon-1 {margin-top: 0; margin-left: 19px}
.u-section-2 .u-text-3 {width: auto; margin-top: 13px; margin-right: 32px; margin-left: 20px}
.u-section-2 .u-text-4 {margin-left: 19px; margin-right: 19px}
.u-section-2 .u-btn-1 {padding: 10px 90px 10px 89px; margin-bottom: 0; margin-left: 20px}
.u-section-2 .u-image-1 {min-height: 360px}
.u-section-2 .u-layout-cell-4 {min-height: 371px}
.u-section-2 .u-container-layout-4 {padding-left: 21px; padding-right: 0}
.u-section-2 .u-icon-2 {height: 50px; width: 50px; margin-top: 24px}
.u-section-2 .u-text-5 {width: auto; margin-top: 19px; margin-right: 24px}
.u-section-2 .u-text-6 {margin-right: 21px} }.u-section-3 {background-image: url("images/mokryifasad1.jpg")}
.u-section-3 .u-sheet-1 {min-height: 772px}
.u-section-3 .u-layout-wrap-1 {margin: 229px auto 217px 0}
.u-section-3 .u-layout-cell-1 {min-height: 326px}
.u-section-3 .u-layout-cell-2 {min-height: 326px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 616px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 638px}
.u-section-3 .u-layout-cell-1 {min-height: 114px}
.u-section-3 .u-layout-cell-2 {min-height: 183px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 514px}
.u-section-3 .u-layout-wrap-1 {margin-top: 0; margin-right: initial; margin-left: initial} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 1048px}
.u-section-4 .u-layout-wrap-1 {width: 1130px; margin: 80px auto 0 0}
.u-section-4 .u-layout-cell-1 {min-height: 460px; background-image: none}
.u-section-4 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-1 {text-transform: uppercase; font-weight: 400; margin: 56px 0 0}
.u-section-4 .u-text-2 {font-weight: 400; margin: 20px 0 45px}
.u-section-4 .u-image-1 {min-height: 460px; background-image: url("images/02436669_n1.jpg")}
.u-section-4 .u-image-2 {min-height: 550px; background-image: url("images/Utepleniepenoplastomfasadaderevyannogodoma1024x581.jpg")}
.u-section-4 .u-image-3 {min-height: 550px; background-image: url("images/keIKB2C0.jpg"); background-position: 50% 50%}
.u-section-4 .u-layout-cell-5 {min-height: 550px; background-image: none}
.u-section-4 .u-container-layout-5 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-3 {text-transform: uppercase; font-weight: 400; margin: 58px 0 0}
.u-section-4 .u-text-4 {position: relative; margin: 20px 0 40px} 

@media (max-width: 1199px){ .u-section-4 .u-layout-wrap-1 {width: 932px}
.u-section-4 .u-layout-cell-1 {min-height: 416px}
.u-section-4 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-text-1 {position: relative; margin-top: 30px}
.u-section-4 .u-text-2 {position: relative; margin-bottom: 30px; font-weight: normal}
.u-section-4 .u-image-1 {min-height: 416px}
.u-section-4 .u-image-2 {min-height: 416px; background-position: 50% 50%}
.u-section-4 .u-image-3 {min-height: 416px}
.u-section-4 .u-layout-cell-5 {min-height: 416px}
.u-section-4 .u-container-layout-5 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-text-3 {margin-top: 30px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 1485px}
.u-section-4 .u-layout-wrap-1 {width: 714px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 2089px}
.u-section-4 .u-layout-wrap-1 {margin-bottom: 44px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-layout-cell-1 {min-height: 418px}
.u-section-4 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-4 .u-text-2 {margin-bottom: 29px}
.u-section-4 .u-image-1 {min-height: 418px}
.u-section-4 .u-image-2 {min-height: 418px}
.u-section-4 .u-image-3 {min-height: 418px}
.u-section-4 .u-layout-cell-5 {min-height: 285px}
.u-section-4 .u-container-layout-5 {padding-left: 5px; padding-right: 5px}
.u-section-4 .u-text-4 {margin-bottom: 0} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 2282px}
.u-section-4 .u-layout-wrap-1 {margin-top: 74px; margin-bottom: 0; width: auto; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 564px}
.u-section-4 .u-container-layout-1 {padding-left: 1px; padding-right: 1px}
.u-section-4 .u-text-2 {margin-bottom: 30px}
.u-section-4 .u-image-1 {min-height: 416px}
.u-section-4 .u-image-2 {min-height: 416px}
.u-section-4 .u-image-3 {min-height: 416px}
.u-section-4 .u-layout-cell-5 {min-height: 416px}
.u-section-4 .u-container-layout-5 {padding-right: 1px; padding-left: 12px}
.u-section-4 .u-text-3 {width: auto}
.u-section-4 .u-text-4 {width: auto; margin-bottom: 40px} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 407px}
.u-section-5 .u-layout-wrap-1 {width: 1220px; margin: 29px auto 40px -80px}
.u-section-5 .u-layout-cell-1 {background-image: none; min-height: 356px}
.u-section-5 .u-container-layout-1 {padding-left: 81px}
.u-section-5 .u-text-1 {font-weight: 400; text-transform: uppercase; margin: 53px 20px 0 0}
.u-section-5 .u-text-2 {margin: 20px 229px 0 0}
.u-section-5 .u-text-3 {margin: 46px 154px 30px 0}
.u-section-5 .u-image-1 {background-image: url("images/620_1.png"); background-position: 50% 100%; min-height: 356px} 

@media (max-width: 1199px){ .u-section-5 {min-height: 0}
.u-section-5 .u-layout-cell-1 {min-height: 393px}
.u-section-5 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-5 .u-text-1 {position: relative; margin-right: 16px}
.u-section-5 .u-text-2 {position: relative; margin-right: 151px}
.u-section-5 .u-text-3 {position: relative; margin-top: 35px; margin-right: 151px; margin-bottom: 53px}
.u-section-5 .u-image-1 {min-height: 406px; background-position: 50% 50%} }

@media (max-width: 991px){ .u-section-5 .u-layout-wrap-1 {width: 720px; margin-right: 0; margin-left: 0}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-1 {margin-right: 10px}
.u-section-5 .u-text-2 {margin-right: 96px}
.u-section-5 .u-text-3 {margin-right: 96px} }

@media (max-width: 767px){ .u-section-5 {min-height: 426px}
.u-section-5 .u-layout-wrap-1 {margin-top: 40px; margin-bottom: 0; width: 540px}
.u-section-5 .u-layout-cell-1 {min-height: 380px}
.u-section-5 .u-container-layout-1 {padding-right: 50px; padding-left: 0}
.u-section-5 .u-text-1 {width: auto; margin-top: 40px; margin-right: 0; margin-left: 10px}
.u-section-5 .u-text-2 {margin-right: 0; margin-left: 50px}
.u-section-5 .u-text-3 {margin-right: 0; margin-bottom: 35px; margin-left: 50px} }

@media (max-width: 575px){ .u-section-5 {min-height: 0}
.u-section-5 .u-layout-wrap-1 {margin-top: 29px; margin-bottom: 40px; width: 340px}
.u-section-5 .u-layout-cell-1 {min-height: 393px}
.u-section-5 .u-container-layout-1 {padding-right: 51px; padding-left: 40px}
.u-section-5 .u-text-1 {margin-top: 51px; margin-left: 0}
.u-section-5 .u-text-2 {width: auto; margin-top: 22px; margin-left: 0}
.u-section-5 .u-text-3 {width: auto; margin-top: 40px; margin-bottom: 40px; margin-left: 0} }